.search{
    background-color: #e9f0ff;
}

.update{
    background-color: #e0f0e0;
    font-weight:600;
}

.customer-box{
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    padding: 0.375rem 0.75rem;
}